
#slideshow{
	width:100%;
	height:600px;
	position:fixed;
}

#slideshowOverlay{
	width:100%;
	height:600px;
	position:fixed;
}

#slideshowColorOverlay
{
	background:black;
	width:100%;
	position:fixed;
	height:600px;
}

#slideshow > div{
	position:fixed;
	width:100%;
	height:600px;
}

#site{
	background: white;
    position: absolute;
    top: 600px;
	width:100%;
}

.navbar{
	z-index:100;
	position: fixed;
	width: 100%;
  background: transparent;
	border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f8f8f8;
    background-color: transparent;
}

@media (min-width: 768px)
{
.navbar-nav {
    float: right;
    margin: 0;
}
}

.affix {
      top: 0;
      width: 100%;
  }

.affix + .container-fluid {
      padding-top: 70px;
}

.affix.navbar{
	z-index:100;
	position: fixed;
	width: 100%;
    background: black;
	border: none;
}




.jumbotron{
	background:transparent;
	color:white;
}


.thumbnailLink
{
	height:500px;
	padding-bottom:20px;
}

/* image hover steff*/

/* Image zoom on hover + Overlay colour */
.parent {
    width: 100%;
    margin: 20px;
    height: 100%;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.thumbnailLink a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.content-area {
	margin-top: 45px;
}

.about-project{
	margin-top: 30px;
	margin-bottom: 30px;
}

.gallery-image {
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
		.wrapper {padding: 20px 20px;}
}


/*  */
